name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get version
        id: get_version
        run: echo "VERSION=${GITHUB_REF##*/v}" >> $GITHUB_OUTPUT

      - name: "Set up Python"
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.12"
      - name: "Update manifest.json"
        run: 'python scripts/update_manifest_version.py ${{steps.get_version.outputs.VERSION}}'

      - name: Verify manifest version
        run: |
          grep '"version":' custom_components/homevolt_local/manifest.json

      - name: Create zip file
        working-directory: custom_components/homevolt_local
        run: zip -r ../../homevolt_local.zip .

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./homevolt_local.zip
